name: Global_Traffic_Bot

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write # إذن الكتابة ضروري لحفظ التقارير

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Bot
        run: python bot.py

      - name: Commit and Push Report
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add stats.txt
          git commit -m "Update visit statistics [Automated]" || exit 0
          git push
